
/* 
font-family: 'Oswald', sans-serif;

font-family: 'PT Sans Narrow', sans-serif;

font-family: 'Dosis', sans-serif;

font-family: 'Rock Salt', cursive;

font-family: 'Bangers', cursive;
*/

html,body {
    height:100%;
  	margin: 0 !important;
   	padding: 0 !important;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transition: all 0.3s 0.6s ease-out; 
     transition: all 0.3s 0.6s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}

#loadingText{
	color:white;
	position: absolute;
	top: 48%;
	left: 46%;
	font-size: 1.6em;
	font-family: 'Exo';
	z-index: 10001;
}
/* Spinner Wave */
.sp-wave {
	z-index: 10002;
	border-radius: 50%;
	position: relative;
	height: 400px;
	width: 400px;
	margin: auto;
	margin-top:17%;
	opacity: 1;
}
.sp-wave:before, .sp-wave:after  {
	content:'';
	border: 1px white solid;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	left:0px;
}
.sp-wave:before {
	transform: scale(1,1);
	opacity: 1;
	-webkit-animation: spWaveBe 0.6s infinite linear;
	animation: spWaveBe 0.6s infinite linear;
}
.sp-wave:after {
	transform: scale(0,0);
	opacity: 0;
	-webkit-animation: spWaveAf 0.6s infinite linear;
	animation: spWaveAf 0.6s infinite linear;
}
@-webkit-keyframes spWaveAf {
	from { -webkit-transform: scale(0.5,0.5); opacity: 0; }
	to { -webkit-transform: scale(1,1); opacity: 1; }
}
@keyframes spWaveAf {
	from { transform: scale(0.5,0.5); opacity: 0; }
	to { transform: scale(1,1); opacity: 1; }
}
@-webkit-keyframes spWaveBe {
	from { -webkit-transform: scale(1,1); opacity: 1; }
	to { -webkit-transform: scale(1.5,1.5); opacity: 0; }
}
@keyframes spWaveBe {
	from { -webkit-transform: scale(1,1); opacity: 1; }
	to { -webkit-transform: scale(1.5,1.5); opacity: 0; }
}


.pt1{
	color:black;
	margin-left:auto;
    margin-right:auto;
    height:60%;
}

.pt2{
	color:black;
	margin-left:auto;
    margin-right:auto;
    height:60%;
}


.pt3{
	color:black;
	margin-left:auto;
    margin-right:auto;
    height:60%;
}


.pt4{
	color:black;
	margin-left:auto;
    margin-right:auto;
    height:60%;
}

body{
	background: url('imgs/bg11.jpeg') center center fixed;
	background-size: cover;
	color:black;
}

.about{
	height:70%;
}


/*.contact{
	background: url('imgs/pt5.jpg') center center fixed;
	color:black;
	margin-left:auto;
    margin-right:auto;
    height:50%;
}*/



.thecover:hover{
	width:90%;
	height:90%;
	color:white;
	opacity: .5;
}

.roundimgCorn{
	width:32%;
	height:40%;
	overflow: hidden;
	margin-left: 1%;
	border-radius:1px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    opacity: .85;
	display: inline-block;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all  .3s;

}

.roundimgCorn:hover{
	opacity: 1.0;
	transform: scale(1.03);
	-moz-box-shadow: 5px 5px 0px #000; 
	-webkit-box-shadow: 5px 5px 0px #000; 
	box-shadow: 0px 0px 10px #000;
}

.roundimgCorn img{
	width:110%;
	height:120%;
	margin-left: -5%;
	margin-top: -10%;

} 

.theHeader{
	width: 100%;
	height:100%;
	background: url(/imgs/headerimg.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	overflow: hidden;
	background-color:black;
	color:white;
	text-align: center;
	display: block;
	position:relative;
}

.headerDownArrow{
	height:40px;
	width:40px;
	margin-top: 15%;

}

.descHeadFont{
	color: white;
	font-family: 'Rock Salt', sans-serif;
    display: inline-block;
    font-size:20px;
    margin-top:8%;
}

.nameHeadFont{
	color: white;
	font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-size:90px;
    margin-top:2%;
}

.estHeadFont{
	color: white;
	font-family: 'Rock Salt', sans-serif;
    display: inline-block;
    font-size:20px;
    margin-top:3%;
}


.menubtns{
	color: white;
	font-family: 'Dosis', sans-serif;
    display: inline-block;
    margin-top: 7%;
    padding-left: 50px;
    padding-right: 50px;
    font-size:20px;
	border: white solid 2px;
	border-radius: 20px;
    transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -o-transition: all  .7s;
}

.menubtns:hover{
	color: #248F8F;
	background-color: white;
	border: white solid 2px;
	border-radius: 3px;
    cursor:pointer;
}

.spacer{
	width:4%;
	display: inline-block;
}

#thecover1, #thecover2, #thecover3{
	background-color:white;
	height: 0;
	display:inline-block
	 -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

a{
	text-decoration: none;
}

.logo{
	color: white;
	font-family: 'Oswald', sans-serif;
    font-size:20px;
    display: inline-block;
    padding-left: 7%
}

.navMenu{
	background-color: #248F8F;
	height:7%;
	border-top:  white solid 1px;
	border-bottom:  white solid 1px;
	z-index: 100;
}

.navbtns{
	color: white;
	font-family: 'Dosis', sans-serif;
    display: inline-block;
    font-size:20px;
	margin-top: 0;
	border:none;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 1.6%;
	margin-left: 3%;
}

.navMenu .navbtns:hover, .selected{
	color: transparent;
	background-color: transparent;
	border-bottom: white solid 3px;
	border-radius: 0px;
    cursor:pointer;
}

.navbtns a{
	color:white;
}

nav{
	margin-left: 10%;
	display: inline-block;
	width: 70%;
}

.tablet nav, .mobile nav{
	width:100%;
}

.works{
	background: url(imgs/bg1.jpg);
}

.is-sticky .navMenu{
	border-top: 0px;
	border-bottom: 0px;
	opacity: .8;
}

.theImages{
	height:90%;
	width: 45%;
	overflow: hidden;
	float: right;
	margin-right: 3%;
	margin-top: .8%;
	border-radius: 5px;
box-shadow: 10px 10px 50px 4px rgba(0,0,0,0.8);
}

.tablet .theImages{

}

#mePic{
	width: 500px;
}

.pt1 a img, .pt2 a img, .pt3 a img, .pt4 a img{
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all  0.3s ease-in-out;
    display: inline-block;
	}

.pt1 a img:hover, .pt2 a img:hover, .pt3 a img:hover, .pt4 a img:hover{
	transform: scale(1.01);
	}

.projectText{   
	color: white;
    width:45%;
    display: inline-block;
    padding-left:3%;
}

.projectText a{
	color: #00E0E0;
	font-family: 'Rock Salt', sans-serif;
	font-size: 13px;
}

.projectText a:hover{
	color: #80FCFC;
}

.projectDescription{
	font-family: 'BenchNine', sans-serif;
	font-size: 24px;
	padding: 4% 0px 5% 0px;
	display: inline-block;
}

.projectTitle{
	font-size:30px;
	padding: 10% 0px 3px 0px;
	border-bottom:1px dotted;
	display: inline-block;
	font-family: 'Exo'; 
}

.projectTech{
	font-family: 'Dosis', sans-serif;
    font-size:15px; 
}

.aboutMeList li{
	display:list-item;
	list-style-position: inside;
	list-style-type:lower-greek; 
	list-style-image: none;
}

.linkIn, .bitbucket, .resume{
	height:10%;
	background-color: #47d3ff;
	border-radius: 50%;
    transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -o-transition: all  .7s;
}

.linkIn:hover, .bitbucket:hover, .resume:hover{
	transform: rotate(360deg);
}